@import "./node_modules/bootstrap/scss/bootstrap";

// Global vars
$background-color: rgba(146, 168, 209, 1);
$color: rgba(0, 0, 0, 0.5);
$border-radius: 0.5em;

// Shared style
.bg-blue {
  background-color: $background-color;
}
.text-myBlue {
  color: $background-color;
}
.text-myGrey {
  color: $color !important;
}

// Login page
.login {
  height: 100vh;
  background: $background-color;
}

.appName {
  width: 20rem;
  font-size: 4em;
  line-height: 1;
  border-bottom: 1px dotted #fff;
  text-shadow: 1px 1px #282c34;
}

// - select element

.selectBtn {
  margin-top: 3em;
  width: 30%;
  height: 5%;
  // border-bottom: 0px;
  font-size: 0.8em;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
  // text-align: left;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: right;
  background-origin: content-box;
  border-style: none;
  background-color: #fff;
  margin-bottom: -0.1em;
}

.arrowDown {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' style='color: rgba(0, 0, 0, 0.5)' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.arrowUp {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' style='color: rgba(0, 0, 0, 0.5)' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>");
}

button:focus {
  outline: 0;
}

.selectListContainer {
  position: fixed;
  top: 64.4%;
  width: 30%;
  font-size: 0.8em;
  text-align: left;
  border-radius: 0;
}

.list-group-item {
  cursor: pointer;
  color: #282c34;
}

.list-group-item:hover {
  color: rgba(146, 168, 209, 1);
}

// - Navabr

nav {
  background: $background-color;
}

.nav-link.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 500;
  color: $color !important;
}

.nav-link {
  color: #fff !important;
}

#myTab .nav-link {
  color: $color !important;
}

//Question

.questionContainer {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.userContainer {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.pollLink {
  color: rgba(146, 168, 209, 1);
}

.userAvatar {
  background: $background-color;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

//Question View

.voteBtn {
  color: $background-color;
  outline: $background-color auto 1px;
}

//Leaderboard

.numsContainer {
  width: 45%;
  height: 100%;
  position: relative;
  left: 26%;
}

.separator {
  border-left: 1px dotted rgba(0, 0, 0, 0.5);
  height: 4.5em;
  position: absolute;
  left: 75%;
}
