@import "./node_modules/bootstrap/scss/bootstrap";

// Global vars
$background-color: linear-gradient(
  135deg,
  rgb(201, 240, 247) 0%,
  rgba(146, 168, 209, 1) 100%
);

// Login page

.login {
  height: 100vh;
  background: $background-color;
}

.appName {
  width: 20rem;
  font-size: 4em;
  line-height: 1;
  border-bottom: 1px dotted #fff;
  text-shadow: 1px 1px #282c34;
}

// - select element

.selectBtn {
  margin-top: 3em;
  width: 30%;
  height: 5%;
  border-bottom: 0px;
  font-size: 0.8em;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
  text-align: left;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: right;
  background-origin: content-box;
}

.arrowDown {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16'  fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.arrowUp {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>");
}

button:focus {
  outline: 0;
}

.selectListContainer {
  position: fixed;
  top: 64.4%;
  width: 30%;
  font-size: 0.8em;
  text-align: left;
}

.list-group-item {
  cursor: pointer;
  color: #282c34;
}

.list-group-item:hover {
  color: rgba(146, 168, 209, 1);
}

// - Navabr

nav {
  background: $background-color;
}

.nav-link.active {
  border-bottom: 1px solid #000;
  font-weight: 500;
}

.nav-link {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

//Question

.questionContainer {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.userContainer {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.pollLink {
  color: rgba(146, 168, 209, 1);
}

.userAvatar {
  background: $background-color;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
